{% extends "index.html" %}

{% block nav %}
{% if request.authenticated_userid %} <a href='/compose'>Compose</a> <a href='/logout'>Log out </a> {% endif %}
{% if not request.authenticated_userid %}<a href='/login'>Log In</a>{% endif %}
{% endblock %}

{% block content %}

<h1>Compose a new Entry:</h1>
<form method='POST' action='/edit/{{entry}}'>
<div>{{ new_entry.title.label }}: {{new_entry.title()}}</div>
<div>{{ new_entry.text.label }}: {{new_entry.text()}}</div>
<input type='submit' value='Submit'>
</form>

{% endblock %}
