{% extends "index.html" %}

{% block nav %}
{% if request.authenticated_userid %} <a href='/compose'>Compose</a> <a href='/logout'>Log out </a> {% endif %}
{% if not request.authenticated_userid %}<a href='/login'>Log In</a>{% endif %}
{% endblock %}

{% block content %}

<h4>Journal Entries:</h4>
<ul>
  {% for item in entries %}
  <li> 
    <a href='{{request.route_url('entry', entry_id=item.id )}}'>{{ item.title }}</a> 
  </li>
  {% endfor %}
</ul>

{% endblock %}
