{% extends "base.jinja2" %}
{% block content %}

<h1>Journal Entries:</h1>
<ul>
  {% for item in entries %}
  <li> 
    <a href='{{request.route_url('entry', entry_id=item.id )}}'>{{ item.title }}</a> 
  </li>
  {% endfor %}
</ul>

{% endblock %}
