{% extends "base.jinja2" %}
{% block content %}

<h1>Login, IF YOU DARE:</h1>
<form method='POST' action='/login'>
<div>
    {{ login_form.login.label }}: {{login_form.login()}}
    {% if login_form.errors %}
    <ul class="error">{% for message in new_entry.errors.get('title', []) %}<li>{{message}}</li>{%endfor%}</ul>
    {% endif %}
</div>
<div>{{ login_form.password.label }}: {{login_form.password()}}</div>
<input type='submit' value='Submit'>
</form>

{% endblock %}
